.index.css
{
	margin:500px;
	padding:200px;
}
#header
{
	margin:auto;
	padding: 0px;
	width: 700px;
	font-family: Arial,helvetica,sans-serif;
}
ul, ol {
	list-style: none;
}
.nav li a
{
	background-color: #006680;
	color:#FFFFFF;
	text-decoration: none;
	padding: 10px 15px;
	display: block;
}
.nav li a:hover{
	background-color: #434343
}
.nav > li
{
	float: left;
}
.nav li ul{
	display: none;
	position: absolute;
	min-width: 140px;
}
.nav li:hover >ul
{display: block;
}
